# Puerto local que mapeará al 80 del webserver.
WEB_PORT=80
# Puerto local que mapeará al 3306 de la base de datos.
DB_PORT=3306
# Contraseña para el usuario "root" de la base de datos.
DB_PASSWORD=admin
# Nombre de la base de datos a utilizar.
DB_DATABASE=unlupaw
