@font-face {
  font-family: Regencie;
  src: url('../fonts/RegencieLight.ttf');
}

:root {
  /* Paleta de colores especificada en la identidad corporativa */
  --primary-main-color: rgb(2,82,85);
  --primary-yellow-color: rgb(252,196,68);
  --primary-red-color: rgb(208,36,74);
  --primary-blue-color: rgb(0,157,218);
  --secondary-copper-color: rgb(160,73,40);
  --secondary-deep-brown-color: rgb(91,43,25);
  --secondary-baby-blue-color: rgb(135,211,226);
  --secondary-rich-olive-color: rgb(113,136,57);
  --secondary-rich-grey-color: rgb(59,74,90);
  --secondary-pale-grey-color: rgb(238,241,239);
}

body {
  color: var(--primary-main-color);
  font-family: Regencie, Calibri;
  font-size: 18px;
  line-height: 24px;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 133px;
}

header nav > img {
  cursor: pointer;
  padding: 10px;
  width: 24px;
}

header nav > ul {
  background-color: #fff;
  box-sizing: border-box;
  display: none;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
}

header nav:hover > ul {
  display: block;
}

header nav > ul a {
  color: var(--primary-main-color);
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

header nav > ul > li > a {
  cursor: default;
  font-weight: bold;
}

header nav > ul ul {
  margin-left: 20px;
}

header nav > ul ul a:hover {
  text-decoration: underline;
}

main {
  padding: 10px;
}

main h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

p.parrafo {
  margin-top: 40px;
}

p.parrafo:last-child {
  margin-bottom: 20px;
}

p.parrafo-contenido {
  margin-top: 20px;
}

ul.lista-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin-bottom: 30px;
  text-align: center;
}

ul.lista-flex li {
  margin: 0;
}

a.item-especialidad {
  border: 1px solid var(--primary-main-color);
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 200px;
}

a.item-especialidad:hover {
  background-color: var(--secondary-baby-blue-color);
}

a.item-profesional {
  border: 1px solid var(--primary-main-color);
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 300px;
}

a.item-profesional:hover {
  background-color: var(--secondary-baby-blue-color);
}

a.item-profesional img {
  float: left;
  height: 48px;
}

a.item-profesional h5 {
  font-size: 16px;
}

main a {
  color: var(--primary-main-color);
  text-decoration: none;
}

footer {
  align-items: center;
  background-color: var(--secondary-pale-grey-color);
  color: var(--primary-main-color);
  display: flex;
  flex-direction: column;
  padding: 40px;
}

footer img {
  margin-bottom: 20px;
  width: 300px;
}

footer address {
  margin-bottom: 10px;
}

footer a {
  color: var(--primary-main-color);
  text-decoration: none;
}

@media screen and (min-width: 992px) {

  body {
    font-size: 20px;
  }

  header {
    margin: auto;
    max-width: 80%;
  }

  #logo {
    width: 200px;
  }

  header nav > img {
    display: none;
  }

  header nav > ul {
    align-items: end;
    display: flex;
    padding: 0;
    position: static;
  }

  header nav:hover > ul {
    display: flex;
  }

  header nav > ul > li {
    max-width: 200px;
  }

  header nav > ul a {
    margin: 0;
    padding: 10px;
  }

  header nav > ul ul {
    display: none;
    margin: 0;
  }

  header nav > ul li:hover > ul {
    display: block;
    position: absolute;
    background-color: var(--secondary-baby-blue-color);
  }

  header nav > ul ul a {
    color: #fff;
  }

  main {
    padding: 20px;
  }

  main h2 {
    font-size: 24px;
  }

  p.parrafo-contenido {
    margin-top: 40px;
  }

  ul.lista-flex {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    max-width: 80%;
  }

  a.item-especialidad {
    width: 300px;
  }

  a.item-profesional {
    width: 320px;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  footer img {
    margin: 0;
  }

}
